*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body { min-height: 100dvh; }

input, button, textarea, select { font: inherit; }
h1, h2, h3, h4, h5, h6, p { overflow-wrap: break-word; }
h1, h2, h3, h4, h5, h6 { text-wrap: balance; }
p { text-wrap: pretty; }

/** Lines below lack browser support and are not part of Interop 2025. */
html { interpolate-size: allow-keywords; } /** only supported by Chromium-based browsers. */
* { text-box: trim-both cap alphabetic; } /* not yet supported by Firefox */
